<footer class="footer">
    <div class="container">
      <span class="text">&copy;2021 Livent</span>
      <div class="footer-icon">
      <span class="sosmed-footer">
        <img src="tw.svg" alt="">
      </span>
      <span class="sosmed-footer">
          <img src="fb.svg" alt="">
      </span>
      <span class="sosmed-footer">
          <img src="ig.svg" alt="">
      </span>
    </div>
    </div>
  </footer>